<!DOCTYPE html>
<html data-ng-app="civ" data-ng-controller="MainController">
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="dist/all.css">
</head>
<body>

    <div class="main">

        <header>
            <h1>
                {{txt.title}}<br />
                {{txt.titleLong}}

            </h1>
        </header>

        <nav data-ng-include="'components/nav.html'"></nav>

        <div data-ui-view class="content"></div>

        <footer>
            <a href="https://github.com/thecivilized/thecivilized">{{txt.source}}</a>
        </footer>

    </div>

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-ui-router/build/angular-ui-router.min.js"></script>
    <script src="dist/all.js"></script>
</body>
</html>
